/* General */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-blue-moon: #6989b3;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --dragon-red: rgba(167, 5, 5, 0.808);
    --starling: #bb7d43e3;
    --pastel: #987d9965;
    --butterfly-blue: #1EB8EC;
    --tendy-pink: #925DA3;
    --cranberry: #D54E8D;
    --h2f: 30px;
    --af: 12px;
    --md: 16px;
    --mmd: 14px;
    --lg: 18px;
    --hn: 50px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.inactive {
    display: none;
}


/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    /* padding: 0 24px; */
    align-items:center;
    padding: 0 30px;
    border-bottom: 1px solid var(--light-blue-moon);
}

/* Left */

.header_desk_menu{
    cursor: pointer;
    /* display: none; */
    /* top: 10px; */
    left: -5px;
    width: 120px;
    height: 50px;
    border: 2px solid var(--dragon-red);
    justify-content: center;
    /* align-items: center; */
    align-items: baseline;
    display: flex;
}
/* .header_desk_menu span{
    margin: 0;
    top: 50%;
} */
.menu {
    width: 40px;
    height: 40px;
    /* top: 50%; */
}
.header_desk_menu-text{
    /* top: 50%; */
    /* position: relative; */
    text-decoration: none;
    color: var(--light-blue-moon);
    font-size: var(--sm);
}

.logo {
    width: 100px;
    border: 1px solid green;
}

/* Center */

.navbar-center {
    display: flex;
    /* justify-content: stretch; */
    width: 40%;
    /* padding: 0px 20px; */
    height: auto;
    align-items:center;
    border: 1px solid var(--light-blue-moon);
}

.navbar-center form {
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: auto; */
    /* padding: 0px 5%; */
    width: 100%;
    height: 100%;
    vertical-align: middle;
    align-items:center;
    /* justify-content: stretch; */
}
.navbar-center form input{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: var(--hn);
    border: 2px solid var(--dragon-red);
    font-size: var(--sm);
    background-color: var(--pastel);
}
.navbar-center form input[type=text]{
    padding: 0px 25px;
}
.navbar-center form button{
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: var(--hn);
    background-color: var(--starling);
}

/* Left & Right */

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--light-blue-moon);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    /* border: 1px solid var(--hospital-green); */
    border: 1px solid var(--dragon-red);
    color: var(--dragon-red);
}

/* Right */

.navbar-email {
    color: var(--light-blue-moon);
    cursor: pointer;
    align-items:center;
    font-size: var(--sm);
    padding: 4px;
    margin-right: 12px;
    border-radius: 8px;
}
.navbar-email:hover{
    /* border: 1px solid var(--hospital-green); */
    border: 2px solid var(--dragon-red);
    color: var(--dragon-red);
}
.navbar-shopping-cart {
    cursor: pointer;
    position: relative;
    align-items:center;
    padding: 4px;
    margin-right: 12px;
    border-radius: 8px;
}
.navbar-shopping-cart:hover{
    /* border: 1px solid var(--hospital-green); */
    border: 2px solid var(--dragon-red);
    color: var(--dragon-red);
}
.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--dragon-red);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping_cart {
    /* top: 10px; */
    width: 30px;
}

/* Desktop Menu */

#general-menu {
    position: absolute;
    top: 80px;
    left: 1%;
    background: var(--white);
    width: 25%;
    max-width: 200px;
    
    height: auto;
    border: 1px solid var(--dragon-red);
    border-radius: 6px;
    z-index: 5;
    /* padding: 20px 20px 0 20px; */
}

#general-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
}

#general-menu ul {
    padding: 0% 24px;
    margin: 24px 0 0;
    margin-bottom: 10px;
    list-style: none;
    border-bottom: 1px solid var(--dragon-red);
}


/* User data */

#user-data {
    position: absolute;
    top: 80px;
    right: 9%;
    background: var(--white);
    /* width: 100px; */
    height: auto;
    border: 1px solid var(--dragon-red);
    border-radius: 6px;
    z-index: 5;
    /* padding: 20px 20px 0 20px; */
}

.user-image-cont {
    width: 100%;
    /* border-bottom: 1px solid var(--light-blue-moon); */
    padding: 10px 10px;
    /* padding: 20px 20px 20px 20px; */
}

.user-image-cont img {
    /* min-height: 225px; */
    max-height: 225px;
    width: 200px;
    padding: 0% 0%;
    border-radius: 15px;
}

#user-data .user-data-cont ul {
    border-top: 1px solid var(--light-blue-moon);
    list-style: none;
    padding: 0% 10%;
    margin: 0;
}

#user-data .user-data-cont ul li {
    text-align: end;
}

#user-data .user-data-cont ul:nth-child(1) li:nth-child(1),
#user-data .user-data-cont ul:nth-child(1) li:nth-child(2){
    font-weight: bold;
}

#user-data .user-data-cont ul:nth-child(1) li a {
    color: var(--back);
    text-decoration: none;
    font-size: var(--lg);
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

#user-data .user-data-cont ul:nth-child(2) li{
    /* padding-top: 5%; */
    padding: 5% 0%;
}

#user-data .user-data-cont ul:nth-child(2) li a{
    color: var(--tendy-pink);
    font-size: var(--mmd);
}

/* User order */

#user-cart {
    position: absolute;
    top: 80px;
    right: 2%;
    margin-right: auto;
    background: var(--white);
    width: 35%;
    max-width: 500px;
    height: auto;
    border: 1px solid var(--dragon-red);
    border-radius: 8px;
    z-index: 5;
    /* padding: 20px 20px 0 20px; */
}

#user-cart .cart-in {
    display: flex;
    border-bottom: 1px solid var(--light-blue-moon);
}

#user-cart .cart-in img {
    transform: rotate(180deg);
    margin-right: 14px;
}

#user-cart .cart-in p {
    font-size: var(--lg);
    font-weight: 60px;
}

#user-cart .cart-cont {
    /* margin-top: 10px;
    margin-bottom: 10px; */
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    max-height: 300px;
}

#user-cart .cart-cont .cart-item {
    display: grid;
    grid-template-columns: 150px auto auto auto;
    gap: 10px;
    align-items: center;
    padding: 5% 5%;
    border-bottom: 1px solid var(--light-blue-moon);
}

#user-cart .cart-cont .cart-item .cart-item_img_cont {
    margin: 0;
    max-height: 200px;
    width: 100px;
    padding: 0% 0%;
}

#user-cart .cart-cont .cart-item .cart-item_img_cont img {
    max-height: 100%;
    width: 150px;
    padding: 0% 0%;
    border-radius: 15px;
    object-fit: cover;
}

#user-cart .cart-cont .cart-item p:nth-child(1),
#user-cart .cart-cont .cart-item p:nth-child(2) {
    font-size: var(--md);
    text-align: justify;
    text-justify: inter-word;
    width: 30%;
    font-weight: 60px;
}

#user-cart .cart-cont .cart-item img{
    max-height: 225px;
    width: 20px;
    padding: 0% 0%;
    border-radius: 0%;
}

#user-cart .cart-total{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

#user-cart .cart-total p:nth-child(1){
    display: flex;
    flex-direction: column;
    font-size: var(--md);
    font-weight: 700;
}

#user-cart .cart-total p:nth-child(2){
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: var(--lg);
    font-weight: 700;
}



